#container-header {
    background-image: linear-gradient(to bottom, lightblue 60%, darkblue);
    color: white;
    max-height: 15%;
}

.link-navegacao {
    cursor: pointer;
}
.cor-link {
color: #ffff;
text-decoration: none;
}

.cor-link:hover {
    /* color: rgb(87, 9, 212); */
    text-decoration: underline;
    font-size: large;
}
