#container-header {
    background-image: linear-gradient(to bottom, lightblue 60%, darkblue);
    color: white;
    max-height: 15%;
}

h1 {
    color: blue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.link-navegacao:hover {
    border: solid 1px  rgb(233, 187, 233);
    border-radius: 35px;
    color: rgb(233, 187, 233);
    cursor: pointer;
}
.cor-link {
color: white;
}
.cor-link:hover {
    color: rgb(233, 187, 233);
}
