body {
    background-image: linear-gradient(75deg, rgba(50, 185, 230, 0.705), rgba(0, 0, 139, 0.678));
}

body > * {background-color: transparent;}
#banner > img {
    /* border: solid; */
    width: 100%;
    border-radius: 45px;
    max-height: 300px;
}
