body {
    background-image: linear-gradient(75deg, rgba(50, 185, 230, 0.705), rgba(0, 0, 139, 0.678));
}

body > * {
    margin: 1% auto;
    background-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#banner > img {
    border-radius: 20px;
    max-height: 300px;

}

.section {
    margin: 0px;
    display: flex;
    justify-content: center;
}

.section-card {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    /* border: solid 1px white;
    box-shadow: 3px 2px rgba(9, 9, 105, 0.384); */
    border-radius: 25px;
    justify-content: center;
}

.section-img {
    display: block;
    margin: auto;
    height: 100px;
    width: 100px;
    max-width: 90%;
}

.meu-botao {
    display: block;
    justify-self: center;
    background-color: transparent;
    border-radius: 25px;
    border-color: rgba(3, 3, 56, 0.61);
    margin: 3px;
}

.text-link {
    color: rgba(14, 3, 71, 0.822);
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.616);
}

.text-link:hover {
    font-size: calc(18px + 15%);
    transition: 350ms;
}

.sombra-elementos {
    border: solid 1px lightcyan;
    box-shadow: 3px 5px rgba(9, 9, 105, 0.384);
}